[Unit]
Description=Set Full Brightness at Startup
After=multi-user.target
OnFailure=crash-reporter@.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'cat /sys/class/backlight/backlight/max_brightness > /sys/class/backlight/backlight/brightness'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
