[Unit]
Description=First Boot Root Password Change
After=local-fs.target
ConditionPathExists=!/meticulous-user/first_password_changed
[Service]
Type=oneshot
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
ExecStart=/usr/local/sbin/reset-password.sh
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target