[Unit]
Description=RAUC Good-marking Service
ConditionKernelCommandLine=|rauc.slot
StartLimitInterval=20000
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rauc status mark-good

[Install]
WantedBy=multi-user.target
