[Unit]
Description=Meticulous Dial App
After=network.target
After=weston.service
OnFailure=crash-reporter@.service

[Service]
ExecStart=/usr/bin/meticulous-dial
Restart=on-success
User=root
MemoryHigh=800M
MemoryMax=900M
Slice=meticulous.slice

Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="GDK_BACKEND=wayland"
Environment="ELECTRON_ENABLE_LOGGING=true"

[Install]
WantedBy=multi-user.target
