[Unit]
Description=Meticulous Dial App
After=network.target
After=weston.service
Requires=weston.service
OnFailure=crash-reporter@.service

[Service]
ExecStartPre=/bin/bash -c 'for i in {1..50}; do test -S /run/user/0/wayland-0 && exit 0; sleep 0.1; done; echo "Timed out waiting for /run/user/0/wayland-0" >&2; exit 1'
ExecStart=/usr/bin/meticulous-dial
Restart=on-success
User=root
MemoryMax=1000M
Slice=meticulous.slice

#Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="GDK_BACKEND=wayland"
#Environment="GDK_GL=gles"

[Install]
WantedBy=multi-user.target
