[Unit]
Description=Meticulous Watcher
After=network.target
Before=weston.service

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=true
Restart=always
RestartSec=10
ExecStart=/opt/meticulous-venv/bin/python3 /opt/meticulous-watcher/watcher.py
User=root
Slice=meticulous.slice

[Install]
WantedBy=multi-user.target
