[Unit]
Description=Meticulous Backend
After=network.target pulseaudio.service
Before=nginx.service
OnFailure=crash-reporter.service

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=true
Restart=always
RestartSec=10
ExecStartPre=-/bin/bash -c 'mkdir -p /meticulous-user/syslog/nginx /meticulous-user/syslog/journal || true'
ExecStart=/opt/meticulous-venv/bin/python3 /opt/meticulous-backend/back.py
User=root

Slice=meticulous.slice
#MemoryMax=1200M

[Install]
WantedBy=multi-user.target
