[Unit]
Description=Meticulous Watcher
After=network.target
Before=weston.service
OnFailure=crash-reporter@.service

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=true
Restart=on-success
RestartSec=10
ExecStart=/usr/bin/meticulous-watcher
User=root
Slice=meticulous.slice

[Install]
WantedBy=multi-user.target
