[Unit]
Description=Meticulous Watcher
After=network.target
Before=weston.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/python3.12 /opt/meticulous-watcher/watcher.py
User=root

[Install]
WantedBy=multi-user.target
