[Unit]
Description=Meticulous Backend
After=network.target pulseaudio.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStartPre=amixer -D pulse set Master 100%
ExecStart=/opt/meticulous-venv/bin/python3.12 /opt/meticulous-backend/back.py
User=root


[Install]
WantedBy=multi-user.target
