[Unit]
Description=PulseAudio system server
OnFailure=crash-reporter.service

[Service]
Type=forking
PIDFile=/var/run/pulse/pid
ExecStart=/usr/bin/pulseaudio --system --disallow-exit --disable-shm --exit-idle-time=-1 --daemonize

[Install]
WantedBy=multi-user.target
