[Unit]
Description=HawkBit client for Rauc
ConditionKernelCommandLine=|rauc.slot
ConditionHost=meticulous*
StartLimitInterval=20000
StartLimitBurst=5
After=network-online.target rauc.service
Wants=network-online.target
OnFailure=crash-reporter@.service

[Service]
AmbientCapabilities=CAP_SYS_BOOT
# Generate the config file based on the boot mode and update channel
ExecStartPre=+/usr/bin/bash /etc/hawkbit/create_config.sh
ExecStart=/usr/bin/rauc-hawkbit-updater -c /etc/hawkbit/config.conf
TimeoutSec=60s
WatchdogSec=5m
# explicit Restart=no as previously it was set to on-failure, case that is considered in the crash-reporter
Restart=no
RestartSec=1m
NotifyAccess=main
ProtectSystem=full
Nice=10

[Install]
WantedBy=multi-user.target
