[Unit]
Description=Setup usb0 shared connection via NetworkManager
After=network-online.target NetworkManager.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setup-usb0.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
