#This rule applies only for usb storage devices partitions

#According to udevadm info /dev/someUsbStorage -a
ACTION=="add" \
, KERNEL=="sd?"\
, SUBSYSTEM=="block"\
, RUN="/usr/local/bin/usb_updater/media_handler.sh %k %n"
