[Unit]
Description=Meticulous manual updater
Requires=rauc.service

[Service]
Type=simple
ExecStart=/etc/usb_updater/media_rauc_install.sh
Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/var/run/dbus/system_bus_socket