name: Build an image component

on:
  workflow_dispatch:  # Allows manual triggering via the UI
    inputs:
      build-option:
        description: 'component to build'
        required: true
        type: string
      build-path:
        description: 'Custom path for artifacts to upload'
        required: false
        type: string
      image:
        description: 'Image config to use'
        required: true
        type: string
        default: 'nightly'
      runner:
          description: "Overwrite the default runner"
          type: string
          default: "ubuntu-24.04"
      packages:
          description: "APT packages to install for this component"
          type: string
          default: ""

  workflow_call:  # Allows the workflow to be called from other workflows
    inputs:
      build-option:
        description: 'component to build'
        required: true
        type: string
      build-path:
        description: 'Custom path for artifacts to upload'
        required: true
        type: string
      image:
        description: 'Image config to use'
        type: string
        default: 'nightly'
      runner:
        description: "Overwrite the default runner"
        type: string
        default: "ubuntu-24.04"
      packages:
        description: "APT packages to install for this component"
        type: string
        default: ""

permissions:
  contents: read
  actions: read
  id-token: write

run-name: "Build ${{ github.event.inputs.build-option }} from '${{github.event.inputs.image || 'unset' }}' on ${{ github.event.inputs.runner || 'ubuntu-24.04' }}"

jobs:
  build-component:
    runs-on: ${{ inputs['runner'] || 'ubuntu-24.04' }}
    name: Build ${{ inputs['build-option'] }}
    env:
      has-packages: ${{ inputs['packages'] != '' }}
      needs-cross-compile: ${{ inputs['build-option'] == 'linux' }}
      needs-qemu: ${{ inputs['build-option'] != 'web' &&  inputs['build-option'] != 'plotter' && inputs['build-option'] != 'crash-reporter' }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Git authentication
      run: |
        git config --global url."https://${{ secrets.GH_REPO_WORKFLOW }}:@github.com/".insteadOf "git@github.com:"

    - name: Set up QEMU
      if: ${{ fromJSON(env.needs-qemu) }}
      uses: docker/setup-qemu-action@v3

    - name: Install component packages
      if: ${{ fromJSON(env.has-packages) && ! fromJSON(env.needs-cross-compile) }}
      run: |
        sudo apt update
        sudo apt install -y ${{ inputs['packages'] }}

    - name: Install Cross-Compilation tools
      if: ${{ fromJSON(env.needs-cross-compile) }}
      run: |
        ubuntu_release=$(lsb_release -cs)
        sudo rm -rf /etc/apt/sources.list.d/ubuntu.sources

        echo "deb [arch=amd64] http://archive.ubuntu.com/ubuntu/  ${ubuntu_release} main restricted universe multiverse" | sudo tee /etc/apt/sources.list
        echo "deb [arch=amd64] http://archive.ubuntu.com/ubuntu/  ${ubuntu_release}-updates main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list
        echo "deb [arch=amd64] http://security.ubuntu.com/ubuntu/ ${ubuntu_release}-security main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list

        echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports/ ${ubuntu_release} main restricted universe multiverse" | sudo tee /etc/apt/sources.list.d/ubuntu_arm64.list
        echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports/ ${ubuntu_release}-updates main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list.d/ubuntu_arm64.list
        echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports/ ${ubuntu_release}-security main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list.d/ubuntu_arm64.list

        sudo dpkg --add-architecture 'arm64'

        sudo apt update
        sudo apt -y install build-essential libssl-dev:arm64 libelf-dev debhelper bc bison flex libssl-dev libncurses5-dev gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu cpio kmod rsync

    - name: Install qemu-img
      if: ${{ fromJSON(env.needs-qemu) }}
      run: |
        sudo apt update
        sudo apt install -y qemu-utils qemu-user-static

    - name: Install PlatformIO
      if: ${{ inputs['build-option'] == 'firmware' }}
      run: |
        wget -q -O get-platformio.py https://raw.githubusercontent.com/platformio/platformio-core-installer/master/get-platformio.py
        python3 get-platformio.py
        echo "$HOME/.platformio/penv/bin" >> $GITHUB_PATH
        rm -f get-platformio.py

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        create-symlink: true
        max-size: 2G

    - name: Create additional ccache symlinks
      run: |
        ln -svf /usr/bin/ccache /usr/local/bin/aarch64-linux-gnu-gcc
        ln -svf /usr/bin/ccache /usr/local/bin/aarch64-linux-gnu-g++
        ln -svf /usr/bin/ccache /usr/local/bin/aarch64-linux-gnu-cpp
        ln -svf /usr/bin/ccache /usr/local/bin/aarch64-linux-gnu-c++

    - name: Checkout the sources
      run: ./update-sources.sh --${{ inputs['build-option'] }} --image ${{ inputs['image'] }}

    - name: Build components
      run: |
        export PATH=/usr/lib/ccache:/usr/local/bin:$PATH
        ./build-components.sh --${{ inputs['build-option'] }}

    - name: Copy repository information
      run: |
        case "${{ inputs['build-option'] }}" in
          "bootloader")
            sudo mkdir -p components/bootloader/build/repo-info/
            sudo cp components/bootloader/uboot/repository-info.txt components/bootloader/build/repo-info/
            ;;
          "linux")
            sudo mkdir -p components/linux-build/repo-info/
            sudo cp components/linux/repository-info.txt components/linux-build/repo-info/
            ;;
          "debian")
            sudo mkdir -p components/debian-base/repo-info/
            sudo cp components/debian-base/repository-info.txt components/debian-base/repo-info/
            ;;
          "psplash")
            sudo mkdir -p components/psplash-build/repo-info/
            sudo cp components/psplash/repository-info.txt components/psplash-build/repo-info/
            ;;
          "rauc")
            sudo mkdir -p components/rauc/build/repo-info/
            sudo cp components/rauc/rauc/repository-info.txt components/rauc/build/repo-info/
            ;;
          "dial")
            sudo mkdir -p components/meticulous-dial/src-tauri/target/aarch64-unknown-linux-gnu/release/bundle/deb/repo-info
            sudo cp components/meticulous-dial/repository-info.txt components/meticulous-dial/src-tauri/target/aarch64-unknown-linux-gnu/release/bundle/deb/repo-info/
            ;;
          "web")
            sudo mkdir -p components/meticulous-web-ui/out/repo-info/
            sudo cp components/meticulous-web-ui/repository-info.txt components/meticulous-web-ui/out/repo-info/
            ;;
          "firmware")
            sudo mkdir -p components/meticulous-firmware-build/repo-info/
            sudo cp components/meticulous-firmware/repository-info.txt components/meticulous-firmware-build/repo-info/
            ;;
          "plotter")
            sudo mkdir -p components/meticulous-plotter-ui/build/repo-info/
            sudo cp components/meticulous-plotter-ui/repository-info.txt components/meticulous-plotter-ui/build/repo-info/
            ;;
          "crash-reporter")
            sudo mkdir -p components/crash-reporter/build/repo-info/
            sudo cp components/crash-reporter/repository-info.txt components/crash-reporter/build/repo-info/
            ;;
        esac

    - name: Upload ${{ inputs['build-option'] }} artifact
      uses: actions/upload-artifact@v4
      if:  ${{ inputs['build-path'] != '' }}
      with:
        name: ${{ inputs['build-option'] }}
        path: |
          ${{ inputs['build-path'] }}
          ${{
            inputs['build-option'] == 'bootloader' && 'components/bootloader/build/repo-info/**' ||
            inputs['build-option'] == 'dial' && 'components/meticulous-dial/src-tauri/target/aarch64-unknown-linux-gnu/release/bundle/deb/repo-info/**' ||
            inputs['build-option'] == 'debian' && 'components/debian-base/repo-info/**' ||
            ''
          }}
        if-no-files-found: error
